@use "../active_bootstrap_skin_core" as *

#index_footer, #index_header
  width: 100% !important
  clear: both !important
  display: inline-block !important
  .pagination
    float: right !important
    margin: 0 0 10px !important
  .pagination_information
    float: right !important
    clear: right !important
  .pagination_information, .download_links
    padding-top: 4px !important
    color: $text-muted !important
  .download_links
    float: left !important

#index_header
  margin-bottom: 15px !important

#index_footer
  margin-top: 25px !important
