.plain-text-list
  li
    margin-bottom: 10px !important
    &:last-child
      margin-bottom: 0 !important

ol.plain-text-list
  list-style: none !important
  counter-reset: plain-text-list !important
  padding-left: 25px !important
  li:before
    content: counter(plain-text-list)'.' !important
    counter-increment: plain-text-list !important
    display: inline-block !important
    margin-left: -25px !important
    width: 25px !important
