@use "sass:map"
@use "themify_map"

@mixin font_face($family, $path, $svg, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.eot')
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg')
    font-weight: $weight
    font-style: $style

@mixin themify_glyphicon($gi-name, $th-name:$gi-name)
  .glyphicon-#{$gi-name}
    top: 0 !important
    +themify_icon($th-name)

@mixin themify_icon($th-name, $size:inherit)
  &:before
    position: relative !important
    top: 1px !important
    display: inline-block !important
    font-family: "Themify" !important
    font-style: normal !important
    font-weight: 400 !important
    line-height: 1 !important
    -webkit-font-smoothing: antialiased !important
    -moz-osx-font-smoothing: grayscale !important
    content: map.get(themify_map.$themify-character-map, $th-name) !important
    font-size: $size !important

+font-face('Themify', 'themify', 'themify')

+themify_glyphicon('pencil')
+themify_glyphicon('edit', 'pencil-alt')
+themify_glyphicon('eye-open', 'eye')
+themify_glyphicon('search')
+themify_glyphicon('trash')
+themify_glyphicon('arrow-down')
+themify_glyphicon('arrow-up')
+themify_glyphicon('refresh', 'reload')
+themify_glyphicon('new-window')
+themify_glyphicon('star')
+themify_glyphicon('check', 'check-box')
+themify_glyphicon('lock')
+themify_glyphicon('download-alt', 'download')
+themify_glyphicon('sort', 'exchange-vertical')
